.booklist-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  text-align: center;
  height: 100vh;
  width: 90%;
  padding: 2rem;
  margin: 0;
}

.book-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  width: 90%;
  list-style: none;
  margin: 0;
}

.book-item {
  width: 100%;
  margin: 0;
  padding: 0;
}
