.nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #40005d;
  text-align: center;
  height: 4rem;
  width: 100%;
  padding: 0 2rem;
  margin: 0;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 2rem;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.nav-item {
  color: #40005d;
  text-decoration: none;
}

.nav-item a {
  font-size: 1.5rem;
  font-weight: 600;
  color: wheat;
  text-decoration: none;
}
